@using CollegeManagement.Exceptions
@using CollegeManagement.Models.ViewModels
@using CollegeManagement.Helper.Mapper
@using CollegeManagement.Models.Domains
@using CollegeManagement.Services

@inject IDepartmentService DepartmentService

<h4>@(Model.DepartmentId == 0 ? "Add Department" : "Edit Department")</h4>

<EditForm FormName="DepartmentForm" Model="Model" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <p style="color:red;font-weight:500">@ErrorMessage</p>

    <div class="mb-3">
        <label>Department Name</label>
        <InputText class="form-control" @bind-Value="Model.Name" />
        <ValidationMessage For="@(() => Model.Name)" />
    </div>

    <div class="mb-3">
        <label>Description</label>
        <InputTextArea class="form-control" @bind-Value="Model.Description" />
        <ValidationMessage For="@(() => Model.Description)" />
    </div>

    <button class="btn btn-primary" type="submit">
        @(Model.DepartmentId == 0 ? "Save" : "Update")
    </button>
</EditForm>

@code {
    [Parameter]
    public DepartmentViewModel Model { get; set; } = new();

    [Parameter]
    public EventCallback OnSaved { get; set; }

    private string? ErrorMessage;

    private async Task HandleSubmit()
    {

        if (Model.DepartmentId == 0)
        {
            try{
                await DepartmentService.AddAsync(Model);
                await OnSaved.InvokeAsync();
            }
            catch (DuplicateDepartmentException e)
            {
                ErrorMessage = e.Message;
                //Specific handling of exception  
                //No Speific action needed for this scenario
            }
            catch(Exception e)
            {
             ErrorMessage = e.Message;
            //Generic Handling of exception    
            }

        }
        else
        {
            await DepartmentService.UpdateAsync(Model);
        }

       
    }
}
